:root {
    --bg-primary: #FCC257;
    --bg-secondary: #F6F06C;
}

HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.yeeten {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
}

.yeeten img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
